<div class="data-table-container">
  <table class="data-table">
    <thead>
      <tr>
        @for (col of columns; track col.key) {
          <th [class.text-center]="col.align === 'center'" [class.text-right]="col.align === 'right'">
            {{ col.header }}
          </th>
        }
      </tr>
    </thead>
    <tbody>
      @for (row of data; track row.id || $index) {
        <tr (click)="rowClick.emit(row)" class="data-table__row">
          @for (col of columns; track col.key) {
            <td [class.text-center]="col.align === 'center'" [class.text-right]="col.align === 'right'">
              @if (templateMap[col.key]) {
                <ng-container *ngTemplateOutlet="templateMap[col.key]; context: { $implicit: row }"></ng-container>
              } @else {
                {{ row[col.key] }}
              }
            </td>
          }
        </tr>
      }
      @if (data.length === 0) {
        <tr>
          <td [attr.colspan]="columns.length" class="data-table__empty">
            <span class="material-symbols-outlined empty-icon">search_off</span>
            <p>Aucune donnée à afficher.</p>
          </td>
        </tr>
      }
    </tbody>
  </table>
</div>
